/*wildcard command to override default html styling*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general style rules*/
body{
    min-height: 100vh;
    display: flex;
}

/*Header*/
header {
    background-color: lightcoral;
}

/*main*/
main {
    background-color: lightblue;
}

/*footer*/
footer {
    background-color: orange;
}